.inputbox{
    margin: 10%;
    margin-bottom: 2%;
    display: block;
    text-align: center;
}
.btn{
    margin: 2%;
}
.searchbox{
    margin: 1%;
    padding: 1%;
}
.pipout-buttons{
    margin: 10%;
    margin-top: 2%;
    text-align: center;
}
.msg_box{
    display: flex;
    border: 1px solid black;
    margin: 5%;
    text-align: center;
}